!
! Display manager configuration file.
!

!
! Default to have UI look for icon bitmaps in ./icons then in zebra/lib/icons
!
set ui$bitmap_path concat3("./icons,",c$libdir,"/icons")

!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'

set libpddir concat(c$libdir,'/pd')
pddir #libpddir
pddir pd

!
! Kludgery for dm modules -- add commands, primarily.
!
set DmModPath 'dmmodules'

!
! Add our color table directory to the path.
!
set CTablePath concat('colortables,',CTablePath)

!
! Reset a window to its default plot description.  Expects to be invoked
! from a graphics process.
!
procedure ResetWindow
	local pdname pd_param(dm$button_window,"global","pd-name","string")
	newpd dm$button_window pdname
endprocedure

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...widgets...'
read dm.widgets

message '     ...button maps...'
read ButtonMaps

message '     ...display configurations ...'
read DisplayConfigs

message '     ...the icon bar...'
read IconBar
message 'ready!'

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure




!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	4
set sleepfor	1

!
! Come up with an interesting display.
!
set SoundEnabled false
set ForceHistory true
set itime getenv("INITIAL_TIME")
if (itime <> "UNDEFINED")
	history all #itime
endif

set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
display #config
