!
! Data store configuration file.
!
set DataDir getenv("DATA_DIR")
!
! See if they want to explicitly set DirConst for our source
!
! See if they want to rescan
!
set SamDirConst getenv("SAM_DIR_CONST")
if (SamDirConst = "UNDEFINED") then
	set SamDirConst "false"
endif
!
! See if there's an alternate cache file
!
set cfile getenv("ZEBRA_CACHEFILE")
message 'Using cache file #' cfile
if (cfile = "UNDEFINED") then
	set cfile "Zebra.cache"
	message 'Using default cache file: #' cfile
endif
!
! Check to see if we're in realtime mode
!
!set SamRealtime getenv("SAM_REALTIME")
!if (SamRealtime = "UNDEFINED") then
!       set SamRealtime "true"
!endif
!message 'SamRealtime = #' SamRealtime
!if (SamRealtime = "true") then
!       message 'in realtime mode'
!       every 300 'rescan all'
!endif

source main
        directory #DataDir
        DirConst #SamDirConst
	cachefile #cfile
        RememberAll true
endsource

!
! South America (SAM) platforms
!

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! bogus platform used for testing
!
platform bogus
	organization 	3dgrid
	filetype	netcdf
	maxsamples	1
        mobile
endplatform

!
! The radars
!
instance NCGrid		trmm_pr

!
! satellite data
!
instance NCGrid         goes_ir

!
! topographic data
!
instance NCGrid		elev
instance NCGrid		topo

